*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
header{
    z-index: 500;
    ul{
        margin-bottom: 0px;
    }
    font-family: 'Jost', sans-serif;
    
    background-color: white;
    color: black;
    height: 65px;
    // border: 1px solid black;
    box-shadow: 0 6px 22px rgba(0, 0, 0, .1);
    display: flex;
    padding: 20px 30px;
}
.menubar>li{
    list-style-type: none;
    display: inline-block;
}
.menubar>li>a{
    padding: 25px 0px;
}
.menubar>li:not(:first-child){
    margin-left: 50px;
}
.icon>i:not(:first-child){
    margin-left: 25px;
}
.icon i{
    cursor: pointer;
}
.menubar>li>a{
    text-decoration: none;
    color: black;
}
.HHRR{
    width: 100%;
    height: 1px;
    
}
.submenu{
    ul{
        margin-left: 0px;
    }
    z-index: 100;
    // display: none;
    box-shadow: 0 6px 22px rgba(0, 0, 0, .1);
padding: 20px;
    background-color: white;
    position: absolute;
    top: 150%;
    visibility: hidden;
    transition: all ease-in-out .5s;

    opacity: 0;
    left: -90%;
    width: fit-content;
    .megamenu>ul>li{
        line-height: 28px;
        text-align: center;
        list-style-type: none;
        a{
            color: black;
            text-decoration: none;
            transition: all ease-in-out .25s;
            &:hover{
                padding-left: 15px;
            }
        }
    }
    &>li{
        list-style-type: none;
        >a{
            text-decoration: none;
            color: black;
            transition: all ease-in-out .2s;
            &:hover{
                // padding-left: 15px;
            }
        }
    }
}

.submenu2{
    
    z-index: 100;
    // display: none;
    box-shadow: 0 6px 22px rgba(0, 0, 0, .1);
padding: 20px;
    background-color: white;
    position: absolute;
    top: 150%;
    visibility: hidden;
    transition: all ease-in-out .5s;

    opacity: 0;
    left: -30%;
    width: fit-content;
    ul>li{ 
        line-height: 28px;
        list-style-type: none;
        a{
            color: black;
            text-decoration: none;
            transition: all ease-in-out .3s;
            &:hover{
                padding-left: 10px;
            }
        }
    }
    &>li{
        list-style-type: none;
        >a{
            text-decoration: none;
            color: black;
            transition: all ease-in-out .2s;
            &:hover{
                padding-left: 15px;
            }
        }
    }
}

.menubar>li{
    padding: 18px 0px;
    position: relative;

    &:hover{
        .submenu,.submenu2{
            display: block;
            top: 100%;
            opacity: 1;
            visibility: visible;
        }
    }
}
.bar{
    display: none;
    margin-left: 25px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    max-width: 400px;
    top: 0;
    left: 0;
    background-color: #fff;
    color: black;
    overflow-x: hidden;
    transition: 0.5s;
    width: 0%;
    background:#F9F9F9;
}
.overlay li{
    list-style-type: none;
}


.overlay-content {
    padding-left: 0px;
    position: absolute;
    top: 12%;
    width: 100%;
    text-align: center;
    margin-top: 30px;

    a {
        // padding-left: 10px;
    }
}

.overlay a {
    text-decoration: none;
    font-size: 15px;
    text-align: left;
    display: block;
    color: black;
    transition: 0.3s;

}


.overlay a:hover,
.overlay a:focus {
    color: black;
}



@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 15px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}



// accordin
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 7px 17px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    .active, .accordion:hover {
        background-color: #ccc;
      }

  }
  

  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
 header  .active:after {
    content: "\2212";
  }
  
  .panel {
    // padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .login{
        text-decoration: none;
        color: #ffffff !important;
        background: black;
        padding: 8px 20px;
        border: none;
  }

  .bxslider {
    transition: 2s;
  }

  .bxslider li img{
    width: 100%;
}
  
    p,h1{
        margin-bottom: 0px      ;
    }
.bxslider li{
    width: 100%;
    height: 750px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.i1{
    background-image: url(../image/1.webp);
}
.i2{
    background-image: url(../image/2.webp);
}
.i3{
    background-image: url(../image/4.webp);
}
.bx-wrapper {
    margin-bottom: 0px !important;
    transition: 1s;
}
.btnnn{
    color: white;
    background-color: black;
    padding: 13px 28px;
    border: 1px solid transparent;
    border-radius: 40px;
    transition: all ease-in-out .4s;
    &:hover{
        background-color: transparent;
        border-color: black;
        color: black;
    }
}
.jjff{
    font-family: 'Jost', sans-serif;

    z-index: 100;
    p,h1{
        margin-bottom: 0px;
    }
    .top{
        font-size: 14px;
    }
    .bx-wrapper .bx-pager {
        bottom: 14px;
    }
    .bx-wrapper .bx-controls-direction a{
        z-index: 100        ;
    }
    
}
.gg::after{
    content: "";
}
.hhh li{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 7px 17px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    position: relative;
}
.hhh li::after{
    content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  border-bottom: 0.5px solid black;
  margin-left: 16px;
}


.nnf p, .nnf h1, .nnf h2, .nnf h3, .nnf h4, .nnf h5, .nnf h6, .nnf span {
    margin-bottom: 0px;
    
  }
  .nnf{
    font-family: 'Jost', sans-serif;
    overflow: hidden;
  }
  #first{
    .item a{
        width: 100%;
        display: block;
        overflow: hidden;
        border-radius: 50%;
    }
    img{
        transition: all ease-in-out .4s;
        &:hover{
            will-change: transform; 
            transform: scale(1.2);

        }
    }
    .active:after{
        content: "";
    }
    background-color: transparent !important;

  }
  #first.owl-theme .owl-dots .owl-dot span {
    margin: 3px 4px !important;
}
#first.owl-theme .owl-dots .owl-dot.active span{
    background-color: black !important;
}
#first.owl-theme .owl-nav.disabled+.owl-dots{
    margin-top: 20px;
}

.jjjk{
    .btn {
        outline: 1px solid transparent;
        background-color: black !important;
        border: none !important;
        margin-top: 15px;
        text-align: center !important;
      }
      
      .btn:hover {
        outline: 1px solid black;
        background-color: white !important;
        color: black !important;
      }
      .card-body p {
        margin-bottom: 0.5rem;
      }
      .card{
        margin-top: 40px;
      }
      
}

.hhhff{
    overflow: hidden;
    .r1{
      border-radius: 7px;
    }
    .card{
        border-color: transparent;
        overflow: hidden;
    }
    .card-body{
        padding: 0px;
    }
    .r1{
    }
    .icon44  i{
        // content: "\f005";
        font-size: 14px;
        // // width: 1em;
    }
    .icon44{
        margin-bottom: 8px;
    }
    .box{
        margin-top: 30px;
    }
    .hover-image {
        transition: transform .5s;
    }
    .r1 {
        overflow: hidden;
        transition: transform 0.6s ease-in-out;
    }
    .card-img-top{
        overflow: hidden;
    }
    .imgg{
        overflow: hidden;
        height: 100%;
        border-radius: 8px;
    }
    .r1:hover {
        transform: scale(1.2);
    }
    .card-title{
        margin-top: 20px;
    }
    .btnb{
        margin-bottom: 25px;
        margin-top: 25px;
        color: black;
        font-size: 14px;
        font-weight: 600;
        border: .5px solid #dedede;
        background-color: transparent;
        padding: 13px 25px;
        border-radius: 40px;
        width: 200px;
        transition: all ease-in-out .5s;
        &:hover{
            background-color: black;
            color: white;
        }
    }

    
}
.gggd{
    padding: 2rem;
}
.nsj{
    border-radius: 15px;
   padding: 100px;
    p,ul,h1,h2{
        margin-bottom: 0px;
    }

    background-image: url(../image/banner.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .btnn{
        color: white;
        background-color: black;
        padding: 10px 40px;
        border: 1px solid transparent;
        border-radius: 40px;
        font-weight: 600;
        transition: all ease-in-out .4s;
        &:hover{
            background-color: transparent;
            border-color: black;
            color: black;
        }
    }
    .ban{
        background-color: white;
        border-radius: 10px;
        padding: 45px;
        max-width: 500px;
        margin-right: 0px;
    }
}
.mms{
    p,ul,h1,h2,h4{
        margin-bottom: 0px;
    }
    .cont{
        .img5 img{
            width: 50px;
        }
        margin-bottom: 30px;
    }
    h4{
        font-weight: 600;
    }
}
.ert{
    // background-color:#f5f5f5;
    h6{
        font-weight: 600;
    }
    li>a{
        color: black;
        text-decoration: none;
    }
    li{
        list-style-type: none;
    }
    h6{
        margin-bottom: 20px;
    }
    .logo{
        margin-bottom: 20px;
    }
    .icon3{
        
        i  {
            padding: 8px;
            border: 1px solid black;
            border-radius: 50%;
            transition: .3s;
            color: black;
            &:hover{
                color: white;
                background-color: black;
            }
        }
        a:not(:first-child){
            margin-left: 10px;
        }
    }
    .foot{
        line-height: 35px;
    }
    .inn{

        transition: .3s;
        width: 54%;
        padding: 11px 25px;
        border-radius: 40px;
        border: 1px solid #ebebeb !important;
        outline: none;

    }
    .inn:focus{
        border-color: black !important;
    }
    .btnn{
        color: white;
        background-color: black;
        border: 1px solid transparent;
        border-radius: 40px;
        padding: 11px 30px;
        transition: .3s;
        &:hover{
            color: black;
            background-color: transparent;
            border-color: black;
        }
    }
    li>a{
        transition: .3s;
    }
    li>a:hover{
        padding-left: 10px;
    }
}
.nnm{

    overflow: hidden;
    .item{
        border-radius: 10px;
    }
    img{
        transition: all ease-in-out .5s;
        &:hover{
            will-change: transform; 
            transform: scale(1.2);

        }
    }
    .item{
        overflow: hidden;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 10px;
        height: 3px;
        margin: 2px 2px;
        
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: black;
    }
}